  <footer id="footer">
    <nav>
      <ul>
        <li><span>GEAN</span></li>
        <li>
          <a href="/imprint/">Imprint</a>
        </li>
          <li>
          <a href="/privacy/">Privacy</a>
        </li>
      </ul>
    </nav>
    <p>&copy; GEAN</p>
  </footer>